body {
    font-family: sans-serif;
}

div.cell {
    display: inline-block;
    background-color: #c0c0c0;
    content: "";
    width: 64px;
    height: 64px;
    border: 2px solid #858585;
    font-size: 64px;
    text-align: center;
    color: transparent;
    user-select: none;
}

div.cell-not-opened {
    background-image: url("../public/cellNotOpened.png") !important;
    background-size: 100%;
}

div.cell-num-0 { color: transparent; }
div.cell-num-1 { color: #0200f9; }
div.cell-num-2 { color: #008001; }
div.cell-num-3 { color: #fd0100; }
div.cell-num-4 { color: #010080; }
div.cell-num-5 { color: #800002; }
div.cell-num-6 { color: #00817c; }
div.cell-num-7 { color: #000000; }
div.cell-num-8 { color: #808080; }

div.cell-mine {
    background-image: url("../public/mine.png");
    background-size: 100%;
}

div.cell-mine-cause {
    background-image: url("../public/mine.png");
    background-size: 100%;
    background-color: #ff0000 !important;
}

div.cell-flag {
    background-image: url("../public/flag.png");
    background-size: 100%;
}

div.cell-flag-miss {
    background-image: url("../public/flagMiss.png");
    background-size: 100%;
}

div.line {
    height: 64px;
    user-select: none;
}
